@font-face {
    font-family: 'Lato';
    src: url('./font/Lato-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./font/Lato-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('./font/Lato-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./font/Lato-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('./font/Lato-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('./font/Lato-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('./font/Lato-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./font/Lato-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('./font/Lato-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./font/Lato-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}
