swagger: "2.0"
info:
  description: ""
  version: "1.0.0"
  title: "WOSS Booking"
host: "api.booking.knine.xyz"
tags:
- name: "properties"
  description: "API that manages properties"
schemes:
- "https"
paths:
  /properties:
    get:
      tags:
      - "properties"
      responses:
        200:
          description: Success
          schema:
            type: array
            items: 
              $ref: "#/definitions/PropertyResponse"
    post:
      tags:
      - "properties"
      consumes: 
      - "multipart/form-data"
      parameters:
      - in: body
        name: body
        schema: 
          $ref: '#/definitions/PropertyRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PropertyResponse'

  /properties/{id}:
    get:
      tags:
      - "properties"
      parameters:
      - in: path
        name: id
        type: integer
        required: true
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PropertyResponse'
    put:
      tags:
      - "properties"
      consumes: 
      - "multipart/form-data"
      parameters:
      - in: path
        name: id
        type: integer
        required: true
      - in: body
        name: body
        schema: 
          $ref: '#/definitions/PropertyRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PropertyResponse'
definitions:
  PropertyRequest:
    type: "object"
    properties:
      name:
        type: "string"
      description:
        type: "string"
      cover_image_file_name:
        type: "string"
      cover_image_file_base64:
        type: "string"
  PropertyResponse:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int32"
      name:
        type: "string"
      description:
        type: "string"
      created_date:
        type: "string"
        format: "date"
      cover_image_url:
        type: "string"