swagger: "2.0"
info:
  description: ""
  version: "1.0.0"
  title: "WOSS Booking"
host: "api.booking.knine.xyz"
tags:
- name: "properties"
  description: "API that manages properties"
- name: "comments"
  description: "API that manages comments of a property"
schemes:
- "https"
paths:
  /properties:
    get:
      tags:
      - "properties"
      responses:
        200:
          description: Success
          schema:
            type: array
            items: 
              $ref: "#/definitions/PropertyResponse"
    post:
      tags:
      - "properties"
      parameters:
      - in: body
        name: body
        schema: 
          $ref: '#/definitions/PropertyRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PropertyResponse'

  /properties/{id}:
    get:
      tags:
      - "properties"
      parameters:
      - in: path
        name: id
        type: string
        required: true
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PropertyResponse'
    put:
      tags:
      - "properties"
      parameters:
      - in: path
        name: id
        type: string
        required: true
      - in: body
        name: body
        schema: 
          $ref: '#/definitions/PropertyRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PropertyResponse'

  /properties/{id}/comments:
    get:
      tags:
      - "comments"
      parameters:
      - in: path
        name: id
        type: string
        required: true
      responses:
        200:
          description: Success
          schema:
            type: array
            items: 
              $ref: '#/definitions/CommentResponse'
    post:
      tags:
      - "comments"
      parameters:
      - in: path
        name: id
        type: string
        required: true
      - in: body
        name: body
        required: true
        schema:
          type: object
          properties:
            text:
              type: string
          required:
          - text
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CommentResponse'

definitions:
  PropertyRequest:
    type: "object"
    properties:
      name:
        type: "string"
      description:
        type: "string"
      cover_image_file_name:
        type: "string"
      cover_image_base64:
        type: "string"
  PropertyResponse:
    type: "object"
    properties:
      id:
        type: "string"
        format: "uuidv4"
      name:
        type: "string"
      description:
        type: "string"
      created_date:
        type: "string"
        format: "date"
      cover_image_url:
        type: "string"

  CommentResponse:
    type: "object"
    properties:
      id:
        type: "string"
        format: "uuidv4"
      text:
        type: "string"
      propertyId:
        type: "string"
        format: "uuidv4"
      author:
        type: object
        properties:
          id:
            type: string
          firstName:
            type: string
          lastName:
            type: string
          avatarUrl:
            type: string
      mood:
        description: "The mood of the comment determined by a ML algorithm"
        type: object
        properties:
          type:
            type: string
          neg:
            type: number
          neu:
            type: number
          pos:
            type: number
          compound:
            type: number
      createdDate:
        type: "string"
        format: "date-time"
